{% extends "base.html" %}

{% block content %} 
<link rel="stylesheet" href="{{ url_for('static',path='newmarketpost.css') }}">
<div style="padding-right: 500px; padding-left: 500px; max-width:100%; padding-top: 50px;   height: 100vmax;  justify-content: center; align-items: center;  background-color: white; color: black;" >

   <div class="row">
    <div class="col">
        <br>
        <h1>POST YOUR STORAGE</h1>
        <hr>

        <form action="/marketplace/newmarketpost" method="POST">
            <div class="form-group" style="
            justify-content: center;
            align-items: center;
            max-width:50%">
                <label style=" font-weight: bold; font-size: large;">
                    Storage                 
                </label>
                <input class="form-control" min="50" max= "1000" type="text" name="stt" id= "stt" placeholder="Enter your Storage in GB (min. 50)" required>
                <br>
                <input class="slider" type="range" id="stl" name="stl" min="50" max="1000" value="50" >
            </div>
           <br>
        <br>

     <div class="container" style="margin-left:-15px">
        <div class="form-group">
            <label style=" font-weight: bold; font-size: large;" >Duration</label>
            <input type="text" name="lending_period" id="lending_period" class="form-control" placeholder="Specify duration in days" required>
        </div>
     </div>
     <br>
     <div class="form-group">
        <label style=" font-weight: bold; font-size: large;" for="price">Price</label>
        <br>
        <input class="form-group" type="text" id="price" name="price" placeholder="Enter price" step="0.01" required>
        <select id="currency" name="currency" id="currency">
        <option value="USD">INR</option>
        </select>
     </div>
    <hr>

     <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    </div>
   </div>
</div>
<script src="{{ url_for('static',path='js/app.js') }}"></script>

{% endblock %}